<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head">
</head>
<body class="container">
<h2 th:text="${title}"></h2>
<nav th:replace="fragments::navigation"></nav>
<form method="post"style="max-width:500px;" th:object="${user}">
	<div class="form-group">
		<label th:for="name">Name</label>
		<input class="form-control" th:field="*{name}" />
		<span th:errors="*{name}" class="error"></span>
	</div>
	<div class="form-group">
		<label th:for="birthday">Birthday</label>
		<input class="form-control" th:field="*{birthday}"/>
		<span th:errors="*{birthday}" class="error"></span>
	</div>
	<div class="form-group">
		<label for="age">Age</label>
		<input class="form-control"th:field="*{age}"/>
		<span th:errors="*{age}" class="error"></span>
	</div>
	
	<input type="submit" name = "addUser"/>
</form>	
</body>
</html>